<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Desarrollador Full-Stack Jr | </h2><h3>Argentina Programa</h3>
            </li>
            <h4>2021 - 2022</h4>
         </ul>
         <ul>
            <li>
                <h2>Ingeniero Eléctrico | </h2><h3>UTN-FRSN</h3>
            </li>
            <h4>2009-2016</h4>
         </ul>
         <ul>
            <li>
                <h2>Técnico Electromecánico | </h2><h3>EET N°6</h3>
            </li>
            <h4>2002-2008</h4>
         </ul>
    </div>
</div> 



