<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Consultor de Gestión Industrial | </h2><h3>Accenture</h3>
            </li>
            <h4>2021-2022</h4>
         </ul>
         <ul>
            <li>
                <h2>Ingeniero de Mantenimiento | </h2><h3>Arcor</h3>
            </li>
            <h4>2017-2021</h4>
         </ul>
         <ul>
            <li>
                <h2>Ingeniero de Proyectos | </h2><h3>CEC Ingeniería</h3>
            </li>
            <h4>2013-2017</h4>
         </ul>        
    </div>
  
</div> 


